<div class="row-fluid">
    <div class="span3">
        {{ render_pageparts(page, 'col_one') }}
    </div>
    <div class="span3">
        {{ render_pageparts(page, 'col_two') }}
    </div>
    <div class="span3">
        {{ render_pageparts(page, 'col_three') }}
    </div>
    <div class="span3">
        {{ render_pageparts(page, 'col_four') }}
    </div>
</div>
